*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.headerone{
    padding-top: 100px;
    text-align: center;
}
.nameCenter{
    text-align: center;
}

