{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/work.css' %}">
    <title>KPI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% load static %}
</head>
<body>
    {% include 'navbar.html' %}

    
    {% load static %}
    <div class="container">
        <h1 class="headerone">Work to Google Sheet KPI</h1>

            <br>

            <h2 class="nameCenter">

            </h2>
            <br>

            <table class="table table-bordered">
                <thead class="thead-dark">
                    
                    <tr>
                        <th>F.I.O</th>
                        <th>Details</th>
                        <th>Score</th>
                    </tr>
                    
                </thead>
                <tbody>
                    {% for i in sports  %}  
                    <tr>
                        <td>{{ i.kpi.name }}</td>
                        <td> {{i.details}} </td>
                        <td> {{i.score}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        <a href="https://docs.google.com/spreadsheets/d/13aPcjyMXeHoDP3VeYuTcN4DlKeJEvOr_2t3qR4TV_3w/edit#gid=1208225701">

            <button>Table to Kpi Google Sheet</button>
        </a>
        <button onclick="tableToGoogleSheet()">
            Table to Excel
        </button>
        

    </div>
    
<script type="text/javascript" src="{% static 'js/table2excel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

</body>
</html>