{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/work.css' %}">
    <title>KPI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% load static %}
</head>
<body>
    {% include 'navbar.html' %}
    
    {% load static %}
    <div class="container">
        <h1 class="headerone">Create Kpi Users</h1>

            <br>

            <br>

            <table class="table table-bordered">
            <thead class="thead-dark"> 
                    <tr>
                    <th>Name</th>
                    <th>Book Comment</th>
                    <th>Upwork</th>
                    <th>Action</th>
                    </tr>
            </thead>
                </thead>
                <tbody>

                    <form action="{% url 'create_kpi' %}" method="post">
                        {% csrf_token %}
                        <tr>
                            <th> <input type="text" name="name" id="" value="" required> </th>
                            
                            <th>
                                <input type="url" name="book_comment" id="">
                            </th>
                            <th>
                                <input type="url" name="upwork" id="">
                            </th>
                          
                            <th> <input type="submit" name="create" id="" value="Create"> </th>
                        </tr>
                    </form>

                    {% for kpi in kpi_models %}
                    <tr>
                        <form action="{% url 'edit_kpi' kpi_id=kpi.id %}" method="post">
                            {% csrf_token %}
                            <th> <input type="text" name="name" id="" value="{{ kpi.name }}" required> </th>
                            <th> <input type="url" name="book_comment" id="" value="{{kpi.book_comment}}" required>   </th>
                            <th> <input type="url" name="upwork" id="" value="{{kpi.upwork}}" required>   </th>

                            <th>
                                <input type="submit" name="edit_kpi" value="Edit">
                                <button type="submit" name="delete_kpi" formaction="{% url 'delete_kpi' kpi.id %}">Delete</button>
                                
                                
                            </th>
                            <th> <input type="hidden" name="kpi_id" id="" value="{{ kpi.id }}"> </th>

                        </form>
                    </tr>
                    {% endfor %}

                </tbody>
                
            </table>
        

    </div>
    
<script type="text/javascript" src="{% static 'js/table2excel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

</body>
</html>