{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <title>SignUp</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    {% comment %} <img src="{% static 'img/background.png' %}" alt="home_img" class="background_img"> {% endcomment %}
    <div class="container">
        <div class="form-box">
            <h1 id="title">Log in</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <i class="ri-user-fill"></i>
                        <input type="text" placeholder="Name" name="username" id="username">
                    </div>

                   

                    <div class="input-field">
                        <i class="ri-lock-fill"></i>
                        <input type="password" placeholder="Password" name="password" id="password">
                    </div>


                    <!-- <p>Lost password <a href="#">Click Here!</a></p> -->
                </div>
                <div class="btn-field">
                    <a href="{% url 'signup' %}">SignUp</a>
                    <button type="submit" id="signinBtn class="disable">Sign in</button>
                </div>
            </form>
        </div>

    </div>

<script>

let signupBtn = document.getElementById("signupBtn");
let signinBtn = document.getElementById("signinBtn");
let nameField = document.getElementById("nameField");
let title = document.getElementById("title");


signinBtn.onclick = function(){
    nameField.style.maxHeight = "0";
    title.innerHTML = "Sign In";
    signupBtn.classList.add("disable");
    signinBtn.classList.remove("disable");
}


signupBtn.onclick = function(){
    nameField.style.maxHeight = "60px";
    title.innerHTML = "Sign Up";
    signupBtn.classList.remove("disable");
    signinBtn.classList.add("disable");
}


</script>
</body>
</html>