<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reminder</title>

    <style>
        .myDiv {
          border: 5px outset black;
        }

        table, th, td {
            border: 1px solid black;
            padding: 5px 30px;
            
        }
        h4{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Reminder</h1>

    <div class="myDiv">
        <h4>***Darajalar</h4>
        <p>
            Daraja oshgan sari olgan ballingizga ko'paytiriladigan koefitsient kamayib boradi. Jadval quyida keltirilgan. Sizning umumiy ballingiz yig'indisi 40-60 oralig'ida bo'lsa qilgan ishingizga olgan ballingiz 1 barobor qo'shiladi. 60dan ochsa 60dan oshgan qismi uchun 0,8 barobor hisoblanadi. <strong>Masalan:</strong> Ish, Evrika, Kitob orqali siz umumiy hisobda 75 ball yig'gan bo'lsangiz, demak 60*1 + 13*0,8 + 2*0,6 = 71,6 ball bo'ladi.							
		</p>
    </div>

    <table>
        <tr>
          <th>Wood</th>
          <th>40-59.9</th>
          <th>1</th>
        </tr>
        <tr>
          <td>Stone</td>
          <td>60-69.9</td>
          <td>0.8</td>
        </tr>
        <tr>
          <td>Bronze</td>
          <td>70-79.9</td>
          <td>0.6</td>
        </tr>
        <tr>
            <td>Silver</td>
            <td>80-89.9</td>
            <td>0.4</td>
        </tr>
        <tr>
            <td>Crystal</td>
            <td>90-99.9</td>
            <td>0.2</td>
        </tr>
        <tr>
            <td>Elite</td>
            <td>100-109.9</td>
            <td>0.15</td>
        </tr>
        <tr>
            <td>Legend</td>
            <td>110-119.9</td>
            <td>0.1</td>
        </tr>
      </table>

    <br><hr><br>

    <h4>Izoh</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Kitob</th>
            <th>Bajarilsa 1 <br> Bajarilmasa 0</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Sport</th>
            <td><strong>Bajarilsa 0 <br> Bajarilmasa -1</strong></td>

    
          </tr>
          <tr>
            <th scope="row">Ish</th>
            <td><strong>Bajarilsa 0.5 <br> Bajarilmasa -1</strong></td>

      
          </tr>
          <tr>
            <th scope="row">Evrika</th>
            <td><strong>Bajarilsa 5 <br> Bajarilmasa 0</strong></td>
     
   
          </tr>
        </tbody>
      </table>

      <br><hr><br>

      <table>
        
        <tr>
          <td><strong>Daholar jamoasiga kirish</strong> - O'zini ko'rsatish kerak va berilgan vazifani ortig'i bilan bajarish kerak. Faqat Meni roziligim bilan kiriladi.				
        </td>
         
        </tr>
        <tr>
          <td><strong>Daholar jamoasidan chiqish - WOOD</strong> ligasidan tushib ketsa Daholarni tark etadi. Bu degani ishda 0,5 stavkaga tushadi, men tarafdan hesh qanday yordam berilmaydi, bonus premiyalar ajratilmaydi				
        </td>
        
        </tr>
        <tr>
            <td><strong>Daraja o'sishi</strong> - Darajangiz qancha oshib borsa, <strong>UPWORK</strong>da eng daromadli ishlar egasi bo'lasiz. Ishxonada qandaydir bonus, mukofotlar bo'lsa eng baland darajalar oladi. Ish haqi ko'tarish imkoni bo'lsa(Ustama, Ichki o'rindosh, Loyiha) birinchi navbatda darajasi balandlar egallaydi. <strong>Darajasi baland odam gapini past darajadagilar bajarishi shart!</strong>
            </td>
           
        </tr>
      
      </table>

</body>
</html>