{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/work.css' %}">
    <title>KPI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% load static %}
</head>
<body>
    
    {% include 'navbar.html' %}
    {% if request.user.is_staff %}
    
    {% load static %}
    <div class="container">
        <h1 class="headerone">WorK</h1>

            <br>

            <h2 class="nameCenter">
                {{kpi.name}} 
            </h2>

            <br>

            <table class="table table-bordered">
            <thead class="thead-dark"> 
                    <tr>
                    <th>Deadline</th>
                    <th>Score</th>
                    <th>Description</th>
                    <th>Action</th>
                    </tr>
            </thead>
                </thead>
                <tbody>

                    <form action="{% url 'create_work' kpi.id %}" method="post">
                        {% csrf_token %}
                        <tr>
                            <th> <input type="date" name="n_deadline" id="" value="" required> </th>

                            <th>
                                <select name="n_score" id="" class="form-control">
                                    <option value="-1">-1</option>
                                    <option value="0.5">0.5</option>
                                </select>
                            </th>

                            <th> <input type="text" name="n_description" id="" value="" required> </th>
                            
                            <th> <input type="submit" name="create" id="" value="Create"> </th>
                        </tr>
                    </form>

                    {% for work in works %}
                    <tr>
                        <form action="{% url 'edit_work' kpi_id=kpi.id work_id=work.id %}" method="post">
                            {% csrf_token %}
                            <th> <input type="date" name="deadline" id="" value="{{ work.deadline|date:'Y-m-d' }}"> </th>
                            
                            <th> <select name="score" class="form-control"> 
                                <option value="{{work.score}}"> {{work.score}} </option>
                                  <option value="-1"> -1 </option>
                                  <option value="0.5"> 0.5 </option>
                              </select>   </th>

                            <th> <input type="text" name="description" id="" value="{{ work.description }}"> </th>
                            
                            <th>
                                <input type="submit" name="edit_work" value="Edit">
                                <button type="submit" name="delete_work" formaction="{% url 'delete_work' kpi_id=kpi.id work_id=work.id %}">Delete</button>
                                
                                
                            </th>
                        </form>
                    </tr>
                    {% endfor %}

                </tbody>
                
        </table>
        {% endif %}


        <a href="https://docs.google.com/spreadsheets/d/13aPcjyMXeHoDP3VeYuTcN4DlKeJEvOr_2t3qR4TV_3w/edit#gid=1208225701">

            <button>Table to Kpi Google Sheet</button>
        </a>
        <button onclick="tableToGoogleSheet()">
            Table to Excel
        </button>
        

    </div>
    
<script type="text/javascript" src="{% static 'js/table2excel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

</body>
</html>